@import "tailwindcss";

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
  }

  body {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  #root {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
  }
}
